// Malaga color scheme

// Colors
@yellow: #AFD700;
@orange: #FF9800;
@red: #FF005F;
@magenta: #8787d7;
@violet: #8787d7;
@blue: #00afff;
@cyan: #00d7ff;
@light-cyan: #d7ffff;
@green: #AFD700;
@dark-grey: #262626;
@light-grey: #808080;

// Background/Foreground Tones
@base03: #8787d7; // 9
@base02: #262626; // 1
@base2: #d7ffff; // 8
@base3: #d7ffff; // 16

@background: @base02;
@foreground: @base2;

// Content Tones
@base01: #AFD700; // 11
@base00: #ff9800; // 12
@base0: #00d7ff; // 13
@base1: #00afff; // 15
