// Malaga color scheme

// Colors
@deep-sky-blue:#00afff;  // 39
@turquoise:#00d7ff;  // 45
// @cyan:#00ffff;  // 51
// @dark-magenta:#870087;  // 90
@medium-purple:#8787d7;  // 104
@yellow:#afd700;  // 148
@light-cyan:#d7ffff;  // 195
@deep-pink:#ff005f;  // 197
@dark-orange:#ff9800;  // 208
// @corn-silk:#ffffd7;  // 230

@dark-grey: #262626;  // 1
@light-grey: #808080;

// Background/Foreground Tones
@background: @dark-grey;
@foreground: @light-cyan;
